Source: tarantool-avro-schema
Priority: optional
Section: database
Maintainer: Nick Zavaritsky <mejedi@tarantool.org>
Build-Depends: debhelper (>= 9), cdbs,
               cmake (>= 2.8),
               tarantool-dev (>= 1.6.8.0)
Standards-Version: 3.9.6
Homepage: https://github.com/tarantool/avro-schema
Vcs-Git: git://github.com/tarantool/avro-schema.git
Vcs-Browser: https://github.com/tarantool/avro-schema

Package: tarantool-avro
Architecture: i386 amd64 armhf arm64
Depends: tarantool (>= 1.6.8.0), ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Apache Avro schema tools for Tarantools
